DATABASE_URL=postgresql://user:password@localhost:5432/mydb
GEMINI_API_KEY=
NLP_SERVICE_URL=http://localhost:8001
LLM_BATCH_SIZE=5
JWT_SECRET=changeme
JWT_EXPIRE_MINUTES=10080
FRONTEND_URL=http://localhost:3000
